main.aux
main.bbl
main.blg
main.log
main.brf
main.cb
main.ind
main.idx
main.ilg
main.inx
main.ps
main.dvi
main.toc
main.lof
main.lot
main.out
*.ps.tm
main.pdf
main.synctex
reviews.txt
rebuttal.txt
main.synctex(busy)
